<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4Noobs</title>
</head>
<body>
    <form action="/4Noobs" method="post">
        <button type="submit">Divulgar 4Noobs</button>
    </form>
</body>
</html>