<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulgar live no discord</title>
</head>
<body>
    <form action="/divulgadiscord" method="post">
        <input type="text" name="twitch" placeholder="Nick da twitch">
        <textarea name="message" cols="30" rows="10" placeholder="Texto para divulgação"></textarea>
        <button>Divulgar live!</button>
    </form>
</body>
</html>