<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github</title>
</head>
<body>
    <form action="/github" method="post">
        <input type="text" name="github">
        <button type="submit">Divulgar</button>
    </form>
</body>
</html>