<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <title>Home</title>
    </head>
    <body>
        <h1 align="center">Gerenciador do Brab0r-bot</h1>
        <main>
            <div class="options">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Divulgação</h5>
                        <form action="/divulgacao" method="post">
                            <input type="text" name="nick" placeholder="Pessoa a ser divulgada.">
                            <p></p>
                            <button type="submit" class="btn btn-danger">Divulgar!</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Github</h5>
                        <form action="/github" method="post">
                            <input type="text" name="github">
                            <p></p>
                            <button type="submit" class="btn btn-warning">Divulgar</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">4Noobs</h5>
                        <form action="/4Noobs" method="post">
                            <button type="submit" class="btn btn-primary">Divulgar 4Noobs</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Discord</h5>
                        <form action="/discord" method="post">
                            <button type="submit" class="btn btn-info">Divulgar discord do canal</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Divulgar live discord</h5>
                        <form action="/divulgadiscord" method="post">
                            <button type="submit" class="btn btn-info">Divulgar live!</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>